<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Working with Go!</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <h1 class="text-center my-4">Here we go!</h1>
    <div class="content">
      {{ .Content }}
    </div>
  </div>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
